<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Math Formula Extractor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Math Formula Extractor</h1>
    <textarea id="pasteBox" placeholder="Paste image here..."></textarea>
    <button onclick="extractFormula('pix2text')">Extract with pix2text</button>
    <button onclick="extractFormula('nougat')">Extract with nougat</button>
    <p id="formulaSource"></p>
    <p id="formulaResult"></p>
    <img id="uploadedImage" style="display: none;" />
    <button id="saveButton" onclick="saveResult()">Save Result</button> <!-- 添加保存按钮 -->
    <script src="{{ url_for('static', filename='js/image2latex.js') }}"></script>
</body>

</html>