<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Math Formula Extractor</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->
    <script src="{{ url_for('static', filename='mathjax/MathJax.js') }}?config=TeX-MML-AM_CHTML"
        id="MathJax-script" async></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}"> <!-- 添加这行 -->
</head>

<body>

    <h1>Math Formula Extractor</h1>
    <textarea id="pasteBox" placeholder="Paste image here..."></textarea>
    <img id="uploadedImage" style="display: none;" />

    <div class="buttons-container">
        <button onclick="extractFormula('pix2text')">Extract with pix2text</button>
        <button onclick="extractFormula('nougat')">Extract with nougat</button>
    </div>
    <div class="form-group">
        <label for="formulaSource" id="formulaSourceLabel">Extracted Formula: You can directly edit it below. If there
            are no
            errors in the foumula extraction or after your editing, please click the "Save" button for helping us to
            collect data to improve model performance.</label>
        <textarea id="formulaSource" placeholder="Enter LaTeX code here..." rows="4" style="width: 100%;"></textarea>
    </div>
    <p id="formulaResult"></p>
    <div class="buttons-container">
        <button id="saveButton">Save</button><!-- 添加保存按钮 -->
    </div>
    <script src="{{ url_for('static', filename='js/image2latex.js') }}"></script>
</body>

</html>